<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- ckeditor -->
    <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
    
    <title>Document</title>
</head>

<body>
        <%- include layout %>
        <div class="container"><br><br>
            <h2 align="center">เขียนบทความ</h2>
            <!-- มาจาก  req.flash("error", "บันทึกบทความเรียบร้อย"); ใน blog.js -->
            <%- messages() %>  


            <!-- ตรวจสอบ การกรอกข้อมมูล -> blog.js  errors -->
            <% if(locals.errors) { %>
            
                <!-- class="alert alert-danger" แจ้งเตือนสีแดง -->
            <ul class="alert alert-danger">     
                <% Object.values(errors).forEach(function(error){ %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
            <% } %>


            <form class="" action="/blog/add" method="POST">
                <div class="form-group">
                    <label for="">ชื่อบทความ</label>
                    <input type="text" name="name" value="" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">รายละเอียด</label>
                    <textarea name="description" id="" cols="80" rows="8" class="form-control"></textarea>

                </div>

                <div class="form-group">
                    <label for="">ชื่อผู้แต่ง</label>
                    <input type="text" name="author" value="" class="form-control">
                </div>
                <input  type="submit" name="" value="บันทึกนะ" class="btn btn-dark" >
            </form>
        </div>

        <!-- การใช้ Ckeditor  -->
        <script>
            CKEDITOR.replace( 'description' );
    </script>
</body>
</html> 